RewriteEngine On
RewriteBase /mi-cuenta/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f


RewriteRule ^s/([^/]*)/$ set/$1.php [L,QSA]
RewriteRule ^g/([^/]*)/$ get/$1.php [L,QSA]
RewriteRule ^p/([^/]*)/$ pays/$1.php [L,QSA]

RewriteRule ^/$ index.php [L,QSA]
RewriteRule ^crear-suscripcion$ createSub.php [L,QSA]
RewriteRule ^agregar-mascota$ steps.php [L,QSA]
RewriteRule ^editar-mascota-([0-9]+)$ edit_pet.php?id=$1 [L,QSA]
RewriteRule ^iniciar-sesion$ login.php [L,QSA]
RewriteRule ^inicio$ index.php [L,QSA]
RewriteRule ^mejorar-plan$ upgrade_plan.php [L,QSA]
RewriteRule ^nueva-mascota$ plan_new_pet.php [L,QSA]
RewriteRule ^perfil$ edit_profile.php [L,QSA]
RewriteRule ^planes$ plans.php [L,QSA]
RewriteRule ^registro$ register.php [L,QSA]
RewriteRule ^servicios/([a-zA-Z0-9_-]+)-([0-9]+)$ intern_service.php?id=$2 [L,QSA]
RewriteRule ^proveedor/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)-([0-9]+)$ single_provider.php?idprov=$4&idserv=$5 [L,QSA]
RewriteRule ^agregar-registro/vacuna$ vacuna.php?type=vaccines [L,QSA]
RewriteRule ^agregar-registro/desparasitacion$ vacuna.php?type=dewormings [L,QSA]
RewriteRule ^agregar-registro/vacuna-([0-9]+)$ edit_vacuna.php?type=vaccines&id=$1 [L,QSA]
RewriteRule ^agregar-registro/desparasitacion-([0-9]+)$ edit_vacuna.php?type=dewormings&id=$1 [L,QSA]
RewriteRule ^nueva-contraseña$ newpass.php [L,QSA]
RewriteRule ^recuperar-contraseña$ recover_pass.php [L,QSA]
RewriteRule ^cambiar-medio-pago$ changePayMethod.php [L,QSA]
RewriteRule ^agregar-medio-pago$ addPayMethod.php [L,QSA]
RewriteRule ^califica-tu-experiencia/([0-9]+)/([0-9]+)/([0-9]+)$ review.php?provider=$1&service=$2&wepetuser=$3 [L,QSA]
# SPANISH URL's
RewriteRule ^es/$ index.php?lang=es [L,QSA]
RewriteRule ^es/agregar-mascota$ steps.php?lang=es [L,QSA]
RewriteRule ^es/editar-mascota-([0-9]+)$ edit_pet.php?id=$1&lang=es [L,QSA]
RewriteRule ^es/iniciar-sesion$ login.php?lang=es [L,QSA]
RewriteRule ^es/inicio$ index.php?lang=es [L,QSA]
RewriteRule ^es/mejorar-plan$ upgrade_plan.php?lang=es [L,QSA]
RewriteRule ^es/nueva-mascota$ plan_new_pet.php?lang=es [L,QSA]
RewriteRule ^es/perfil$ edit_profile.php?lang=es [L,QSA]
RewriteRule ^es/planes$ plans.php?lang=es [L,QSA]
RewriteRule ^es/registro$ register.php?lang=es [L,QSA]
RewriteRule ^es/servicios/([a-zA-Z0-9_-]+)-([0-9]+)$ intern_service.php?id=$2&lang=es [L,QSA]
RewriteRule ^es/proveedor/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)-([0-9]+)$ single_provider.php?idprov=$3&idserv=$4&lang=es [L,QSA]
RewriteRule ^es/agregar-registro/vacuna$ vacuna.php?type=vaccines&lang=es [L,QSA]
RewriteRule ^es/agregar-registro/desparasitacion$ vacuna.php?type=dewormings&lang=es [L,QSA]
RewriteRule ^es/agregar-registro/vacuna-([0-9]+)$ edit_vacuna.php?type=vaccines&id=$1&lang=es [L,QSA]
RewriteRule ^es/agregar-registro/desparasitacion-([0-9]+)$ edit_vacuna.php?type=dewormings&id=$1&lang=es [L,QSA]
RewriteRule ^es/nueva-contraseña$ newpass.php?lang=es [L,QSA]
RewriteRule ^es/recuperar-contraseña$ recover_pass.php?lang=es [L,QSA]
RewriteRule ^es/cambiar-medio-pago$ changePayMethod.php?lang=es [L,QSA]
RewriteRule ^es/agregar-medio-pago$ addPayMethod.php?lang=es [L,QSA]
RewriteRule ^es/califica-tu-experiencia/([0-9]+)/([0-9]+)/([0-9]+)$ review.php?lang=es&provider=$1&service=$2&wepetuser=$3 [L,QSA]
# ENGLISH URL's
RewriteRule ^en-US/$ index.php?lang=en-US [L,QSA]
RewriteRule ^en-US/agregar-mascota$ steps.php?lang=en-US [L,QSA]
RewriteRule ^en-US/editar-mascota-([0-9]+)$ edit_pet.php?id=$1&lang=en-US [L,QSA]
RewriteRule ^en-US/iniciar-sesion$ login.php?lang=en-US [L,QSA]
RewriteRule ^en-US/inicio$ index.php?lang=en-US [L,QSA]
RewriteRule ^en-US/mejorar-plan$ upgrade_plan.php?lang=en-US [L,QSA]
RewriteRule ^en-US/nueva-mascota$ plan_new_pet.php?lang=en-US [L,QSA]
RewriteRule ^en-US/perfil$ edit_profile.php?lang=en-US [L,QSA]
RewriteRule ^en-US/planes$ plans.php?lang=en-US [L,QSA]
RewriteRule ^en-US/registro$ register.php?lang=en-US [L,QSA]
RewriteRule ^en-US/servicios/([a-zA-Z0-9_-]+)-([0-9]+)$ intern_service.php?id=$2&lang=en-US [L,QSA]
RewriteRule ^en-US/proveedor/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([0-9]+)-([0-9]+)$ single_provider.php?idprov=$3&idserv=$4&lang=en-US [L,QSA]
RewriteRule ^en-US/agregar-registro/vacuna$ vacuna.php?type=vaccines&lang=en-US [L,QSA]
RewriteRule ^en-US/agregar-registro/desparasitacion$ vacuna.php?type=dewormings&lang=en-US [L,QSA]
RewriteRule ^en-US/agregar-registro/vacuna-([0-9]+)$ edit_vacuna.php?type=vaccines&id=$1&lang=en-US [L,QSA]
RewriteRule ^en-US/agregar-registro/desparasitacion-([0-9]+)$ edit_vacuna.php?type=dewormings&id=$1&lang=en-US [L,QSA]
RewriteRule ^en-US/nueva-contraseña$ newpass.php?lang=en-US [L,QSA]
RewriteRule ^en-US/recuperar-contraseña$ recover_pass.php?lang=en-US [L,QSA]
RewriteRule ^en-US/cambiar-medio-pago$ changePayMethod.php?lang=en-US [L,QSA]
RewriteRule ^en-US/agregar-medio-pago$ addPayMethod.php?lang=en-US [L,QSA]

RewriteRule ^en-US/califica-tu-experiencia/([0-9]+)/([0-9]+)/([0-9]+)$ review.php?lang=en-US&provider=$1&service=$2&wepetuser=$3 [L,QSA]

RewriteRule ^pago-servicio/pse$ pse.php [L,QSA]